# Virtual Environment
venv/
.venv/

# Python cache files
__pycache__/
*.pyc

# IDE/Editor specific files
.vscode/
.idea/

# Stego output files (optional)
# If you don't want to upload the .wav files your app creates
*_stego.wav